<%- include("./partial/header") %>
    <script>
        function myFunction() {
            document.getElementById("postclick").innerHTML += "<p>Please wait while files are moving<div class='loader'></div></p>"
        }
    </script>
    <h4>Step 1. Share your folder with photos with this email: <a
            href="#">gdriver-mover@grdrive-mover.iam.gserviceaccount.com</a></h4>
    <img src="https://website-photos-geomin.s3.amazonaws.com/Screen+Shot+2023-01-04+at+11.52.10+AM.png" width="30%">
    <form action="/" method="POST">
        <label>
            <h4>Step 2. Add your folder id here:</h4>
        </label>
        <input type="text" placeholder="Folder ID" name="folder" size="50"><br><br>
        <img src="https://website-photos-geomin.s3.amazonaws.com/Screen+Shot+2023-01-04+at+10.02.28+AM.png" width="30%">
        <label><h4>Step 3: Add your list of photo names here, separated by commas, space and/or new line</h4></label>
        <textarea id="list" name="list" rows="20" cols="50"></textarea>
        <br />
        <br />
        <label>
            <h5>If needed, add a prefix and/or suffix to your file names (it will add the prefix/suffix to each file name)</h5>
        </label>
        <input type="text" placeholder="Prefix (example: DSC)" name="prefix" size="50"><br><br>
        <input type="text" placeholder="Suffix (example: .png)" name="suffix" size="50"><br><br>
        <br />
        <br />
        <p id="postclick"></p>
        <button onclick="myFunction()">Submit</button>
    </form>

    <%- include("./partial/footer") %>